In [1]:
import numpy as np
import pandas as pd

In [2]:
ind_df = pd.read_csv('inc_cleaned_data.csv', sep='|')

In [3]:
ind_df.head()

,rank,name,revenue,industry,employees,founded,growth,city,state
0,1,Skillz,54.2,Software,58.0,2012.0,50059,San Francisco,CA
1,2,EnviroSolar Power,37.4,Energy,85.0,2012.0,36065,Fort Worth,TX
2,3,Gametime,48.8,Consumer Products & Services,75.0,2013.0,34021,San Francisco,CA
3,4,Club Pilates Franchise,26.8,Consumer Products & Services,31.0,2007.0,21319,Costa Mesa,CA
4,5,Halo Top Creamery,49.1,Food & Beverage,10.0,2012.0,20944,Los Angeles,CA

In [9]:
ind_df.loc[:,('prev_revenue')] = ind_df.apply(lambda x: (100/(x['growth']+100)) * x['revenue'], axis=1).values

In [10]:
ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4997 entries, 0 to 4996
Data columns (total 10 columns):
rank            4997 non-null int64
name            4997 non-null object
revenue         4997 non-null float64
industry        4993 non-null object
employees       4861 non-null float64
founded         4994 non-null float64
growth          4997 non-null int64
city            4996 non-null object
state           4997 non-null object
prev_revenue    4997 non-null float64
dtypes: float64(4), int64(2), object(4)
memory usage: 390.5+ KB

In [17]:
ind_df.groupby('industry').sum()[['revenue','prev_revenue']]

                              revenue  prev_revenue
industry
Advertising & Marketing        8824.1   3478.792079
Business Products & Services  19019.4  10261.731704
Computer Hardware              1037.0    477.878631
Construction                  13009.3   6022.320729
Consumer Products & Services  12296.3   5071.512327
Education                      1382.5    547.588278
Energy                         4119.5   1502.122450
Engineering                    1596.6    798.933646
Environmental Services         1043.9    452.347636
Financial Services            43175.9  22145.623016
Food & Beverage                5120.4   2118.716199
Government Services           10835.8   4552.813687
Health                        24568.8  10757.583275
Human Resources               12020.7   5645.312366
IT Services                   15365.7   7241.802319
Insurance                      5956.8   2803.725094
Logistics & Transportation    12832.9   6601.203021
Manufacturing                  5993.3   3147.437811
Media                           984.3    331.278176
Real Estate                    6288.2   2347.898951
Retail                         7239.5   3143.322713
Security                       7172.4   2643.289928
Software                       5839.9   2493.470589
Telecommunications             3659.0   1378.532165
Travel & Hospitality           2609.3    867.106798

In [20]:
# industry wise average growth
ind_df.groupby('industry').apply(lambda x: ((x['revenue'].sum()-x['prev_revenue'].sum())/x['revenue'].sum())*100)

industry
Advertising & Marketing         60.576239
Business Products & Services    46.045976
Computer Hardware               53.917200
Construction                    53.707573
Consumer Products & Services    58.755786
Education                       60.391445
Energy                          63.536292
Engineering                     49.960313
Environmental Services          56.667532
Financial Services              48.708370
Food & Beverage                 58.622057
Government Services             57.983594
Health                          56.214454
Human Resources                 53.036742
IT Services                     52.870339
Insurance                       52.932361
Logistics & Transportation      48.560317
Manufacturing                   47.484060
Media                           66.343780
Real Estate                     62.661828
Retail                          56.580942
Security                        63.146368
Software                        57.302855
Telecommunications              62.324893
Travel & Hospitality            66.768605
dtype: float64

In [23]:
ind_df['industry'].value_counts()

IT Services                     598
Advertising & Marketing         493
Business Products & Services    474
Health                          395
Software                        328
Construction                    301
Financial Services              262
Government Services             240
Consumer Products & Services    239
Real Estate                     197
Human Resources                 186
Retail                          168
Logistics & Transportation      149
Manufacturing                   145
Food & Beverage                 137
Energy                           91
Insurance                        89
Telecommunications               86
Education                        74
Security                         68
Engineering                      67
Media                            65
Travel & Hospitality             63
Environmental Services           42
Computer Hardware                36
Name: industry, dtype: int64

In [24]:
ind_df.groupby('industry').describe()['growth']

,count,mean,std,min,25%,50%,75%,max
industry,,,,,,,,
Advertising & Marketing,493.0,454.507099,1282.605860,41.0,85.00,152.0,346.00,16981.0
Business Products & Services,474.0,431.320675,1086.115869,41.0,72.00,129.0,284.50,9935.0
Computer Hardware,36.0,342.638889,393.042139,44.0,89.75,183.5,376.75,1720.0
Construction,301.0,361.554817,725.911726,42.0,80.00,140.0,300.00,6611.0
Consumer Products & Services,239.0,696.958159,2708.965457,41.0,87.50,169.0,401.00,34021.0
Education,74.0,443.108108,748.842258,42.0,90.50,158.5,437.75,4654.0
Energy,91.0,1562.450549,4376.897271,43.0,117.50,284.0,827.50,36065.0
Engineering,67.0,206.149254,314.386572,42.0,63.50,99.0,213.00,2196.0
Environmental Services,42.0,220.928571,226.399969,43.0,74.25,136.5,272.00,963.0
Financial Services,262.0,527.958015,1771.956047,41.0,76.50,141.0,285.75,19352.0
Food & Beverage,137.0,743.364964,2271.434675,40.0,87.00,169.0,549.00,20944.0
Government Services,240.0,649.229167,1428.438742,40.0,97.50,201.0,447.50,10999.0
Health,395.0,440.878481,1160.531567,40.0,85.50,146.0,323.50,13462.0
Human Resources,186.0,314.161290,732.753058,42.0,76.25,107.0,220.00,6885.0
IT Services,598.0,306.220736,677.889261,41.0,73.00,114.0,249.75,9114.0
Insurance,89.0,397.561798,1265.280107,45.0,77.00,125.0,231.00,11369.0
Logistics & Transportation,149.0,653.550336,1626.461324,40.0,87.00,140.0,397.00,13666.0
Manufacturing,145.0,248.000000,619.128218,40.0,57.00,91.0,161.00,6062.0
Media,65.0,708.046154,1717.138812,42.0,84.00,162.0,487.00,9396.0
Real Estate,197.0,398.142132,852.537485,41.0,89.00,176.0,319.00,8829.0
Retail,168.0,672.976190,1410.209353,40.0,102.25,201.5,646.25,12327.0
Security,68.0,328.602941,486.793135,47.0,89.75,153.0,325.00,2463.0
Software,328.0,625.692073,3003.612171,40.0,84.75,163.0,383.75,50059.0
Telecommunications,86.0,202.406977,341.686694,41.0,64.25,96.5,168.75,2123.0
Travel & Hospitality,63.0,402.476190,773.013935,41.0,74.50,141.0,360.00,5379.0