In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

In [11]:
# Read cleaned data
state_df = pd.read_csv('inc_cleaned_data.csv', sep='|')

In [12]:
state_df.head()

,rank,name,revenue,industry,employees,founded,growth,city,state
0,1,Skillz,54.2,Software,58.0,2012.0,50059,San Francisco,CA
1,2,EnviroSolar Power,37.4,Energy,85.0,2012.0,36065,Fort Worth,TX
2,3,Gametime,48.8,Consumer Products & Services,75.0,2013.0,34021,San Francisco,CA
3,4,Club Pilates Franchise,26.8,Consumer Products & Services,31.0,2007.0,21319,Costa Mesa,CA
4,5,Halo Top Creamery,49.1,Food & Beverage,10.0,2012.0,20944,Los Angeles,CA

In [13]:
# Calculate previous revenue for companies based on on current revenue and growth values. Create separate column
# in dataframe.
state_df.loc[:,('prev_revenue')] = state_df.apply(lambda x: (100/(x['growth']+100)) * x['revenue'], axis=1).values

In [14]:
state_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4997 entries, 0 to 4996
Data columns (total 10 columns):
rank            4997 non-null int64
name            4997 non-null object
revenue         4997 non-null float64
industry        4993 non-null object
employees       4861 non-null float64
founded         4994 non-null float64
growth          4997 non-null int64
city            4996 non-null object
state           4997 non-null object
prev_revenue    4997 non-null float64
dtypes: float64(4), int64(2), object(4)
memory usage: 390.5+ KB

In [15]:
state_df.head()

,rank,name,revenue,industry,employees,founded,growth,city,state,prev_revenue
0,1,Skillz,54.2,Software,58.0,2012.0,50059,San Francisco,CA,0.108056
1,2,EnviroSolar Power,37.4,Energy,85.0,2012.0,36065,Fort Worth,TX,0.103415
2,3,Gametime,48.8,Consumer Products & Services,75.0,2013.0,34021,San Francisco,CA,0.143020
3,4,Club Pilates Franchise,26.8,Consumer Products & Services,31.0,2007.0,21319,Costa Mesa,CA,0.125123
4,5,Halo Top Creamery,49.1,Food & Beverage,10.0,2012.0,20944,Los Angeles,CA,0.233321

In [23]:
# calculate growth % state wise
state_group_df = state_df.groupby('state').sum().sort_values(by='revenue', ascending=False)[['revenue','prev_revenue']]
state_group_df

       revenue  prev_revenue
state
CA     27032.8  10475.686546
CT     26770.6  15706.624367
TX     20308.9   8335.269555
NY     15536.3   7734.372436
FL     12557.1   5085.871478
VA     10166.9   4411.613214
OH     10159.1   5185.844466
GA      9029.9   4074.054640
IL      8885.0   4225.483529
AZ      8236.5   3535.102575
PA      8100.4   4059.669697
MA      8034.7   4427.318575
MN      6925.5   3501.500201
NC      5520.4   2029.796036
NJ      5436.5   2145.793149
TN      5074.5   2515.628659
UT      4201.2   1614.934960
CO      4159.9   2085.227856
MO      3838.2   1569.691479
MI      3821.5   1653.324983
MD      3500.0   1609.852044
WA      3137.6   1357.694205
KY      2762.4   1606.451864
IN      2453.7   1234.906905
OR      2397.5    949.997977
AL      2244.7    862.550923
SC      2046.7    817.881018
WI      1760.6    919.293749
KS       946.9    430.496023
NE       886.4    297.370023
DC       825.4    298.968013
LA       813.4    356.279631
SD       608.0    267.777114
IA       556.0    237.336067
ME       506.6    126.863756
NH       502.1    229.415213
OK       492.6    189.317301
NV       368.3    149.523619
DE       272.7    131.756876
AR       247.2     82.787318
RI       208.0    137.006370
ID       206.5     97.806378
WV       177.5     45.822316
ND       155.9     67.758473
HI       129.3     41.093097
MS       118.5     68.525502
NM       118.4     40.625280
VT        71.7     25.681240
MT        39.0      9.524859
WY        38.0     17.217512
AK        12.9      6.753927
PR        12.5      3.938566

In [27]:
state_growth = state_group_df.apply(lambda x: ((x['revenue']-x['prev_revenue'])/x['prev_revenue'])*100, axis=1).sort_values(ascending=False)
state_growth

state
MT    309.454893
ME    299.326029
WV    287.365842
PR    217.374408
HI    214.651387
AR    198.596460
NE    198.079810
NM    191.444143
VT    179.192129
DC    176.083047
NC    171.968213
AL    160.239708
OK    160.198090
UT    160.146700
CA    158.052777
NJ    153.356201
OR    152.368959
SC    150.244223
FL    146.901638
NV    146.315600
MO    144.519388
TX    143.650189
IA    134.266965
AZ    132.991825
MI    131.140280
WA    131.097694
VA    130.457647
ND    130.081927
LA    128.303818
SD    127.054504
GA    121.644057
WY    120.705523
KS    119.955574
NH    118.860813
MD    117.411284
ID    111.131426
IL    110.271794
DE    106.972120
TN    101.718961
NY    100.873440
PA     99.533475
CO     99.493786
IN     98.695140
MN     97.786652
OH     95.900592
WI     91.516586
AK     91.000000
MA     81.480051
MS     72.928322
KY     71.956600
CT     70.441461
RI     51.817758
dtype: float64

In [54]:
state_df.groupby('state')['industry'].count().sort_values(ascending=False)

state
CA    670
TX    425
FL    368
NY    307
VA    289
IL    238
GA    233
PA    185
OH    172
MA    146
NJ    140
NC    124
MD    121
AZ    120
WA    116
CO    114
UT    110
MI    101
MN     86
TN     86
MO     81
IN     67
OR     66
AL     59
SC     58
WI     53
LA     46
DC     44
KY     36
KS     35
CT     34
OK     28
IA     28
NV     28
NE     25
NH     22
DE     16
AR     14
ID     14
MS     13
ME     12
SD     11
ND      9
MT      8
RI      8
HI      7
WV      6
WY      4
NM      4
PR      3
VT      2
AK      1
Name: industry, dtype: int64

In [90]:
d = state_df.groupby('state')['industry'].value_counts()
d

state  industry
AK     Health                           1
AL     Government Services             21
       Real Estate                      5
       Construction                     4
       Engineering                      4
       Health                           3
       Telecommunications               3
       Human Resources                  2
       Media                            2
       Retail                           2
       Advertising & Marketing          1
       Business Products & Services     1
       Computer Hardware                1
       Consumer Products & Services     1
       Education                        1
       Energy                           1
       Environmental Services           1
       Financial Services               1
       Food & Beverage                  1
       IT Services                      1
       Manufacturing                    1
       Security                         1
       Travel & Hospitality             1
AR     Business Products & Services     4
       Consumer Products & Services     2
       Retail                           2
       Advertising & Marketing          1
       Construction                     1
       Energy                           1
       Health                           1
                                       ..
WA     Security                         1
WI     IT Services                      9
       Manufacturing                    8
       Construction                     5
       Software                         5
       Financial Services               3
       Health                           3
       Real Estate                      3
       Advertising & Marketing          2
       Business Products & Services     2
       Human Resources                  2
       Retail                           2
       Computer Hardware                1
       Education                        1
       Environmental Services           1
       Food & Beverage                  1
       Government Services              1
       Insurance                        1
       Logistics & Transportation       1
       Media                            1
       Travel & Hospitality             1
WV     Government Services              2
       Financial Services               1
       Health                           1
       IT Services                      1
       Retail                           1
WY     Advertising & Marketing          1
       Consumer Products & Services     1
       Financial Services               1
       Telecommunications               1
Name: industry, Length: 828, dtype: int64

In [120]:
for x in state_df.groupby('state'):
    #print(x[0] + "\t" + str(x[1].sum()['revenue']))
    temp = x[1].groupby('industry').apply(lambda y: ((y['revenue'].sum()-y['prev_revenue'].sum())/y['prev_revenue'].sum())*100).sort_values(ascending=False)
    print(x[0] + "\t" + str(temp.index[0]) + "\t\t\t\t" + str(temp.values[0]))

AK	Health				91.0
AL	Energy				2732.0
AR	Retail				3983.11500208
AZ	Education				874.0
CA	Security				292.501102823
CO	Logistics & Transportation				2074.16618911
CT	Food & Beverage				665.0
DC	Energy				742.935803662
DE	Business Products & Services				2441.0
FL	Media				415.728956256
GA	Travel & Hospitality				542.662285792
HI	Construction				551.766172186
IA	Energy				550.0
ID	Retail				606.920753279
IL	Energy				1316.96848989
IN	Advertising & Marketing				257.503804464
KS	Human Resources				296.012016285
KY	Insurance				2231.0
LA	Energy				2079.0
MA	Consumer Products & Services				646.197265625
MD	Food & Beverage				438.538171536
ME	Business Products & Services				9204.0
MI	Engineering				1016.0
MN	Consumer Products & Services				989.0
MO	Energy				1100.0
MS	Computer Hardware				1122.0
MT	Manufacturing				2114.0
NC	Real Estate				697.998935383
ND	Real Estate				289.0
NE	Advertising & Marketing				737.0
NH	Financial Services				1361.0
NJ	Media				1161.0
NM	IT Services				394.0
NV	Government Services				3748.0
NY	Retail				783.704513793
OH	Insurance				11369.0
OK	Software				1730.0
OR	Government Services				929.0
PA	Energy				585.367681953
PR	Insurance				375.384
RI	Software				221.683417085
SC	Advertising & Marketing				477.145541862
SD	Business Products & Services				413.491429134
TN	Manufacturing				433.686978892
TX	Education				1017.12041506
UT	Energy				2338.35228888
VA	Insurance				729.0
VT	Construction				6611.0
WA	Travel & Hospitality				674.843927865
WI	Retail				863.997136713
WV	IT Services				999.0
WY	Consumer Products & Services				837.0